"""
Environment values that replace the fallback values used in the different calls to function os.getenv in <settings.py>.
These fallback values are only used along development.
In production, credentials & secrets must not be recorded in source files, but rather be stored in .env files, which are excluded by .gitignore from being tracked by Git.
"""

# Django
DEBUG=True
DJANGO_SECRET_KEY=change-me

# Allowed hosts
ALLOWED_HOSTS=localhost

# PostgreSQL
POSTGRES_DB=demo
POSTGRES_USER=demo
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
