"""
Environment values that replace the fallback values used in the different calls to function os.getenv in <settings.py>.
These fallback values may only used along development (alternativelu, a separate .env file may be created for each of development & staging & production).
In staging & production, credentials & secrets must not be recorded in source files, but rather be stored in .env files, which are excluded by .gitignore from being tracked by Git.
"""

# Environment
ENVIRONMENT=dev

# Django
DEBUG=False
DJANGO_SECRET_KEY=dev-secret

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
POSTGRES_DB=demo
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# RabbitMQ.
# A configuration to be only used along development.
# Credentials & secrets must be changed in staging & production.
RABBITMQ_DEFAULT_USER=demo
RABBITMQ_DEFAULT_PASSWORD=demo

# Sentry
# SENTRY_ENABLED is normally unset along development and set on staging & production, by this may be changed if required.
# SENTRY_DSN should be set when SENTRY_ENABLED (see right above) is set, and vice-versa; Normallyd set on staging & production to the DSN of the Sentry account (and possibly even project) being used and unset along development.
SENTRY_ENABLED=False
SENTRY_DSN=

# Kafka.
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Celery.
CELERY_BROKER_URL=amqp://demo:demo@rabbitmq:5672//
