# Environment values that replace the fallback values used in the different calls to function os.getenv in <settings.py>.
# These fallback values may only used along development (alternativelu, a separate .env file may be created for each of development & staging & production).
# In staging & production, credentials & secrets must not be recorded in source files, but rather be stored in .env files, which are excluded by .gitignore from being tracked by Git.

# Environment.
# Not really needed, as it is specified in the command-line, so here it is specified just for clarity.
ENVIRONMENT=dev

# Django.
DJANGO_SECRET_KEY=dev-secret

# Allowed hosts.
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL.
POSTGRES_DB=demo
POSTGRES_USER=demo
POSTGRES_PASSWORD=demo
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# RabbitMQ.
# A configuration to be only used along development.
# Credentials & secrets must be changed in staging & production.
RABBITMQ_DEFAULT_USER=demo
RABBITMQ_DEFAULT_PASSWORD=demo
RABBITMQ_VHOST=/dev

# Sentry.
# SENTRY_ENABLED is normally unset along development and set on staging & production, by this may be changed if required.
# SENTRY_DSN should be set when SENTRY_ENABLED (see right above) is set, and vice-versa; Normallyd set on staging & production to the DSN of the Sentry account (and possibly even project) being used and unset along development.
SENTRY_ENABLED=True
SENTRY_DSN=https://c9e64c9d09cb5e6cba3507d180e373b5@o4511104766246912.ingest.us.sentry.io/4511104768933888
# SENTRY_ENABLED=False
# SENTRY_DSN=

# Kafka.
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

# Celery.
# CELERY_BROKER_URL=amqp://demo:demo@rabbitmq:5672//
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
